@page "/manage/Category"
<h1>Artikel Kategorien</h1>
<MudIconButton Style="position: fixed; right: 0; bottom: 0;" Icon="@Icons.Material.Filled.ArrowBack" OnClick="GoBack" Color="Color.Primary" aria-label="back"></MudIconButton>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">Slot Hinzufügen</MudButton>
        </MudItem>
        @if(Categories == null)
        {
            <OAOPS.Client.Components.Shared.LoadingComponent/>
        }else
        {

        }
    </MudGrid>
</MudContainer>