@page "/manage/slot/{Name}"
@attribute [Authorize]

<h1>Slots of @Name</h1>
<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="GoBack" Color="Color.Primary" aria-label="back"></MudIconButton>