@page "/login"
@using Paymentsystem.Shared.ViewModels;

@inject ILocalStorageService LocalStorage
@inject NavigationManager _nav
@inject AuthenticationStateProvider provider
@inject HttpClient http

<h3>Login</h3>

<EditForm Model="User" OnSubmit="HandleLogin">
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="User.Username" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="User.Password" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</EditForm>

@code {
    private UserLoginDto User = new UserLoginDto();

    async void HandleLogin()
    {
        var res = await http.PostAsJsonAsync("api/auth/login", User);
        var token = await res.Content.ReadAsStringAsync();
        await LocalStorage.SetItemAsync<string>("token", token);
        await provider.GetAuthenticationStateAsync();
        _nav.NavigateTo("");
    }
}
